.header .title,
.header .text,
.recipe-buttons {
	font-family: "Monaco", monospace;
	text-align: center;
}

.header .title {
	font-size: 70px;
}

.header .text {
	font-size: 24px;
}

.recipe-buttons .button {
	width: 250px;
	height: 50px;
	background-color: #fff;
	border: 2px solid #000;
}

.button .recipe-link {
	font-size: 20px;
	text-decoration: none;
	color: #000;
}